<html>
    <head> <title> Sistema de control de Ingreso</title>
    <body>
        <H1> Mantenimiento de cargos</H1>
        <HR>
        <P> <A HREF= "/m_cargos_nuevo">Nuevo Cargo</A></P>
        <TABLE BORDER=1>
            <TR><TH>ID</TH>
                <TH>NOMBRE</TH>
                <TH>SUELDO</TH>
                <TH COLSPAN=2> ACCIONES </TH>
            </TR>
            <% records.forEach(function(cargo) { %>
                <tr>
                    <td><%= cargo._id %></td>
                    <td><%= cargo.nombre %></td>
                    <td><%= cargo.sueldo %></td>
                    <td><a href="/m_cargos_editar/<%= cargo._id %>">Editar</a></td>
                    <td><a href="/m_cargos_eliminar/<%= cargo._id %>">Eliminar</a></td>
                </tr>
            <% }); %>
            
        </TABLE>
    </body>
</html>